# =============================================================================
# Configuration Variables for AWS and Databricks
# =============================================================================

# -----------------------------------------------------------------------------
# Databricks Variables
# -----------------------------------------------------------------------------


# Databricks account ID
workspace_url = "https://one-env-mrb0924251.cloud.databricks.com/"